.notes-img {
    margin-top:50px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}

.card-work {
    align-items:center;
    border: none;
    background-color: #edbe3a;
    color: #f7f7f7;
    text-align: center;
}

.card-work-2 {
    align-items:center;
    border: none;
    background-color: #6B9FDB;
    color: #f7f7f7;
    text-align: center;
}

.card-work-3 {
    align-items:center;
    border: none;
    background-color: #D63F3F;
    color: #f7f7f7;
    text-align: center;
}

.card-work-4, .card-work-6 {
    align-items:center;
    border: none;
    background-color: #28c14b;
    color: #f7f7f7;
    text-align: center;
}

.card-work-5 {
    align-items:center;
    border: none;
    background-color: #6B9FDB;
    color: #f7f7f7;
    text-align: center;
}



.card__image {
    align-items: center;
    width: 600px;
    padding-top: 30px;
}

.card__title {
    
}
.card__subtitle {
    padding: 10px;
}

.card__text {
    max-width: 500px;
    padding: 10px;
}

.card__button {
    background-color: #c9dbc0;
    border-color: #c9dbc0;
    width:300px;
    margin-bottom: 10px;
}

.card__button-2 {
    background-color: #4f5d6980;
    border: none;
    width:300px;
    margin-bottom: 10px;
}

.card__button-3 {
    background-color: #ec8295;
    border-color: #ec8295;
    width:300px;
    margin-bottom: 10px;
}
.card__button-4 {
    background-color: #276b36;
    border-color: #276b36;
    width:300px;
    margin-bottom: 10px;
}

.disqus-comments {
    max-width: 80%;
}



@media only screen and (max-width: 600px) {
    .card__button, .card__button-2, .card__button-3, .card__button-4 {
        width:100%;      
    } 
    .card__image {
        align-items: center;
        max-width: 100vw;
        padding: 50px 0 20px 0
    }
  }
  
  
  
  