.banner2 {
    background-image:  url('https://image.ibb.co/fwFORU/bg_other.jpg');
    background-repeat: no-repeat;        
    position: relative;        
    width: 100%;            
    height: 400px;       
  }

  .remove-margin {
    margin-top: 0;
  }

  .add-some-margin {
    margin: 40px 0;
  }

  .add-some-margin-2 {
    margin-top: 20px;
}

  .container2 {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .section-title-work {
    color: #79a897;
    text-align: center;
    margin-bottom: 30px;
  }